.container {
  max-width: 145rem;
  margin: 0 auto;
  // padding: 15rem 12%;
  background-color: #eeeeee3f;

  @media only screen and (max-width: 62.5em) {
  }
  @media only screen and (max-width: 39em) {
  }
  @media only screen and (max-width: 32em) {
  }
  h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 6.6rem;
    font-weight: 600;
    @media only screen and (max-width: 43.75em) {
      text-align: center;
      font-size: 6.4rem;
    }
  }
  p {
    font-size: 2rem;
    font-weight: 500;
    width: 75%;
    @media only screen and (max-width: 62.5em) {
      font-size: 2rem;
      width: 85%;
    }
    @media only screen and (max-width: 43.75em) {
      text-align: center;
      width: 100%;
    }
  }
}
