.container {
  // max-width: 145rem;
  // margin: 0 auto;
  padding: 15rem 12%;
  background-color: #eeeeee3f;

  height: 40dvh;
  margin-top: -10rem;
  @media only screen and (max-width: 62.5em) {
    padding: 15rem 5%;
  }
  @media only screen and (max-width: 39em) {
    padding: 15rem 1rem;
    height: 45dvh;
  }
  @media only screen and (max-width: 32em) {
    padding: 15rem 1rem;

    height: 50dvh;
  }
  h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 3.6rem;
    font-weight: 600;
    @media only screen and (max-width: 43.75em) {
      text-align: center;
      font-size: 4.4rem;
    }
  }
  p {
    font-size: 1.6rem;
    font-weight: 500;
    width: 75%;
    @media only screen and (max-width: 62.5em) {
      font-size: 2rem;
      width: 85%;
    }
    @media only screen and (max-width: 43.75em) {
      text-align: center;
      width: 100%;
    }
  }
}
