.main {
  height: 9rem;
}
.menu {
  display: none;
}
.header {
  max-width: 145rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 2rem 1rem 2rem 1rem;

  z-index: 3823882338;
}
.bg {
  position: fixed !important;
  top: 0;
  // left: 10%;
  background-color: #eee;
  max-width: 100% !important;
  width: 100% !important;
  padding: 2rem 12%;
}
.name:visited,
.name:link {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 2rem;
    font-weight: 600;
    transition: color 0.2s;
    &:hover {
      color: var(--main--color--blue--dark);
    }
  }
}

.button {
  font-weight: 600;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  margin-left: 0.5rem;
  transition: color 0.2s;
  color: inherit;
  background-color: var(--main--color--blue--dark);
  border-radius: 1rem;
  padding: 0.7rem 1.5rem;
  color: #fff;
  transition: all 0.2s;
  &:hover {
    background-color: var(--main--color--blue--dark--1);
    transform: translateY(-3%);
  }
}
.img {
  height: 4.4rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.links {
  display: flex;
  gap: 3rem;
  margin-left: auto;
  align-items: center;
}
.browse:visited,
.browse:link {
  font-size: 1.8rem;
  display: inline-block;
  transition: color 0.2s;
  color: inherit;
  font-weight: 600;
}
.browse:hover,
.browse:active {
  // color: #ccc;
  color: var(--main--color--blue--dark);
}

.relative {
  position: relative;
}
.icon {
  display: none;
  font-size: 4rem;
}
.highlighted {
  color: #fff;
}
.menu {
  @media only screen and (max-width: 62.5em) {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 4rem;
    z-index: 99999999999999999999999999 !important;
  }
}
.translate {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
@media only screen and (max-width: 62.5em) {
  .button {
    margin-left: 0;
    font-size: 2.4rem;
    padding: 0.8rem 3rem;
  }
  .translate {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  .links {
    gap: 0;
  }
  .icon {
    display: inline-block;
  }
  .links {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 3rem 0 3rem 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 248, 248, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(7px);
    transform: translateX(100%);
    z-index: 90999999;
    transition: all 0.3s;
    gap: 2rem;
  }
  .browse:visited,
  .browse:link {
    font-size: 3rem;
    font-weight: 500;
    color: var(--main--color--blue--dark);

    margin-top: 0.5rem;
  }
  .translate {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  .highlighted:visited,
  .highlighted:link {
    color: #fff;
  }
}
@media only screen and (max-width: 62.5em) {
  .header {
    padding: 0.8rem 1.5rem;
  }
  .logo {
    gap: 1rem;
  }
}
.links {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(7px);
}
