:root {
  --font--color: #111;
  --font--color--1: #0b212f;
  --font--color--2: #0b212f;
  --main--color--blue--dark: #1363df;
  --main--color--blue--dark--1: #4282e5;
  --main--color--blue--light: #47b5ff;
  --main--color--3: #1363df;
  --white--color: #fff;
  --white--color--2: #dff6ff;

  font-family: "Open Sans", sans-serif;

  font-weight: 500;
  color: var(--font--color--1);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  box-sizing: border-box;
  scroll-behavior: smooth;

  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 62.5em) {
    font-size: 50%;
  }
}
.react-icons {
  vertical-align: middle;
}
a {
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

span {
  display: inline-block;
}
body {
  font-family: "Open Sans", sans-serif;
  // max-width: 145rem;
  // margin: 0 auto;
  // padding: 0 1rem;
  overflow-x: hidden;
}

.page {
  max-width: 145rem;
  margin: 0 auto;
  padding: 0 1rem;
}

button {
  font-weight: 500;
  display: inline-block;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 55%;
  max-width: 145rem;
  margin: 0 auto;
  padding: 10rem 1rem;
  @media only screen and (max-width: 50em) {
    font-size: 50%;
    grid-template-columns: 1fr;

    gap: 5rem;
  }
  @media only screen and (max-width: 39em) {
    gap: 4rem;
  }
}

.news {
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;
  padding: 0 1rem;
  @media only screen and (max-width: 37.5em) {
    grid-template-columns: 100%;
  }
}
li {
  list-style: none;
}
.pdf-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.pdf-page {
  display: block;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
